<!--
Nombre: Adrián Eduardo Hernández Ramírez
Matrícula: 23030020
-->

<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      TaskList v2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input type="text" placeholder="Ingresa una nueva tarea..." name="task" [(ngModel)]="newTaskStr"/>
    <ion-button (click)="addTask()"><ion-icon name="add-outline" /></ion-button>
  </ion-item>
</ion-content>
