<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>TaskMaster Lite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Nueva tarea</ion-label>
    <ion-input [(ngModel)]="newTaskStr" placeholder="Ejem: Estudiar typescript"></ion-input>
  </ion-item>
  <ion-button expand="block" color="secondary" (click)="addTask()">Agregar Tarea</ion-button>

  <ion-list>
    <ion-item>
      <ion-label>Esta es una tarea</ion-label>
    </ion-item>
    @for (task of tasks; track $index) {
    <ion-item>
      <ion-label>{{ task.titulo }}</ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>
